.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 1rem;
  justify-items: center;
}

@media (width >=64rem) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.5rem;
  }
}
