.heroSection {
  display: grid;
  align-items: center;
  padding-block: 1rem;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.heroContainer * + * {
  margin-top: 24px;
}

.heading {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 2.25rem;
  text-align: center;
  font-weight: 400;
}

.lgBelow {
  display: block;
}

.lgAbove {
  align-self: flex-start;
  display: none;
}

.collage {
  position: relative;
}

.collageContainer {
  margin-top: 48px;
  position: relative;
}

.collageBackground {
  background-color: var(--primary-color);
  padding-block: 32%;
}

.collageImage {
  position: absolute;
  transition: ease 600ms all;
  transition-duration: 1s;
  z-index: 20;
}

.collageImage1 {
  composes: collageImage;
  transform: rotate(-10deg);
  max-width: 42%;
  top: -2%;
  left: 15%;
}

.collageImage2 {
  composes: collageImage;
  transform: rotate(15deg);
  max-width: 30%;
  bottom: 8%;
  right: 15%;
}

@media (width >=40rem) {
  .heroSection {
    grid-template-columns: repeat(2, 1fr);
    margin-block: 3rem;
  }

  .heading {
    font-size: 3.5rem;
    text-align: unset;
    line-height: 1.1;
  }

  .collageContainer {
    margin-top: 0;
    width: 125%;
    left: -25%;
  }

  .collageImage1 {
    left: 24%;
  }

  .collageImage2 {
    right: 8%;
  }
}

@media (width >=64rem) {
  .heroSection {
    max-width: 90%;
    margin-inline-start: auto;
  }

  .heading {
    font-size: 6rem;
  }

  .lgBelow {
    display: none;
  }

  .lgAbove {
    display: block;
  }

  .collageContainer {
    width: 140%;
    left: -40%;
  }
}

@media (width >=96rem) {
  .collageContainer {
    max-width: 1180px;
  }
}
