.table {
  margin-block-start: 1rem;
}

.tableHeaders {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 180px 80px 30px;
  gap: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-block: 0.5rem;
  font-size: 0.875rem;
}

.tableHeaders > * {
  display: none;
}

.headerXs {
  display: block;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block: 1.75rem;
}

@media (width >= 40rem) {
  .tableHeaders > * {
    display: block;
  }
}
