.btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: calc(infinity * 1px);
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.sm {
  composes: btn;
  padding: .5rem 1rem;
}

.fullWidth {
  width: 100%;
}
