.btn {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0.75rem;
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 2px solid transparent;
}

.btn:hover {
  opacity: 0.8;
}

.pill {
  border-radius: calc(infinity * 1px);
}

.sm {
  composes: btn;
  padding: 0.5rem 1rem;
}

.xs {
  composes: btn;
  padding: 0.25rem 0.5rem;
}

.lg {
  composes: btn;
  padding: 1rem 3.125rem;
}

.fullWidth {
  width: 100%;
}

.outlined {
  color: black;
  border-color: rgba(0, 0, 0, 0.16);
  background-color: transparent;
}

.loader {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
