.btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: .75rem;
  font-weight: 700;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.pill {
  border-radius: calc(infinity * 1px);
}

.sm {
  composes: btn;
  padding: .5rem 1rem;
}

.xs {
  composes: btn;
  padding: .25rem .5rem;
}

.fullWidth {
  width: 100%;
}
