.section {
  padding-block: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.imageBg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
  padding: 3rem;
  aspect-ratio: 3 / 4;
}

.productImage {
  height: 400px;
  object-fit: contain;
}

.productInfo {
  margin-block-start: 2rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.productTitle {
  font-family: Anton, sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.productPriceRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productPrice {
  font-size: 1.125rem;
}

.productRating {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.productCta {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block-start: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.stickyAddToCart {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  min-width: 100%;
  transform: translateY(100%);
  transition: 0.3s ease;
}

.stickyAddToCartVisible {
  transform: translateY(0%);
}

@media (width >= 40rem) {
  .container {
    flex-direction: row;
    gap: 3.5rem;
  }

  .imageBg {
    flex: 55%;
    align-self: flex-start;
  }

  .productInfo {
    flex: 45%;
  }

  .accordionContainer {
    margin-block-start: 20px;
  }

  .stickyAddToCart {
    display: none;
  }
}

@media (width >= 64rem) {
  .productCta {
    flex-direction: row;
  }

  .imageBg {
    max-width: 95%;
  }
}

@media (width >= 80rem) {
  .imageBg {
    aspect-ratio: unset;
  }

  .productCta > :first-child {
    flex: 55%;
  }
}
