.header {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding-block: 1.25rem;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.navLink:hover {
  color: rgba(0, 0, 0, 0.6);
}

.cartLink {
  composes: navLink;
  position: absolute;
  right: 1rem;
}

@media (width >= 40rem) {
  .header {
    padding-block: 2rem;
  }
}
