.header {
  padding-block: 1.25rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--background-color);
}

.navContainer {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.navLink:hover {
  color: rgba(0, 0, 0, 0.6);
}

.cartContainer {
  position: relative;
}

.cartLink {
  composes: navLink;
  position: absolute;
  right: 1rem;
}

.cartItems {
  position: absolute;
  padding-block-start: 1px;
  top: -38%;
  right: -63%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 18px;
  aspect-ratio: 1 / 1;
  color: white;
  font-weight: bold;
  font-size: .675rem;
}

@media (width >=40rem) {
  .header {
    padding-block: 2rem;
  }

  .cartLink {
    right: 2rem;
  }

  .cartItems {
    min-width: 21px;
    top: -50%;
    right: -75%;
    font-size: .75rem;
  }
}

@media (width >=96rem) {
  .navContainer {
    max-width: 96rem;
  }
}
