.itemCount {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.itemCount > button {
  min-width: 1.875rem;
}

.itemCount > input {
  border: none;
  border-radius: 0.75rem;
  padding: 0.15rem 0.75rem;
  width: 100%;
  text-align: center;
}

.inputOnlySm > button {
  display: none;
}

@media (width >= 40rem) {
  .inputOnlySm > button {
    display: block;
  }
}
