:root {
  --background-color: #ffd14b;
  --primary-color: #0f8df0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
}

.flex {
  display: flex;
}

.container {
  --padding-inline: 1rem;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline: var(--padding-inline);
}

@media (width >=40rem) {
  .container {
    --padding-inline: 2rem;

    max-width: 40rem;
  }
}

@media (width >=48rem) {
  .container {
    max-width: 48rem;
  }
}

@media (width >=64rem) {
  .container {
    max-width: 64rem;
  }
}

@media (width >=80rem) {
  .container {
    max-width: 80rem;
  }
}

@media (width >=96rem) {
  .container {
    max-width: 96rem;
  }
}
