.tableData {
  display: grid;
  grid-template-columns: 104px auto 30px;
  align-items: center;
  gap: 22px;
}

.productDetails {
  display: grid;
  align-items: center;
  gap: 0.5rem;
}

.productImageContainer {
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  max-width: 104px;
  aspect-ratio: 3 / 4;
  padding: 0.75rem;
}

.productImage {
  object-fit: contain;
}

.productTitle {
  font-family: Anton, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  flex: auto;
}

.productCount {
  max-width: 200px;
}

.productRemove {
  max-width: 30px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  opacity: 0.4;
  background-color: transparent;
  transition: opacity 200ms;
}

.productRemove:hover {
  opacity: 1;
}

@media (width >= 40rem) {
  .tableData {
    grid-template-columns: 88px 1fr 30px;
    gap: 15px;
  }
  .productDetails {
    grid-template-columns: 1fr 180px 80px;
    gap: 15px;
  }

  .productImageContainer {
    max-width: 88px;
  }

  .productTitle {
    margin-inline-start: 15px;
  }

  .productPrice {
    order: 1;
  }
}
